nav{
    background-color:greenyellow;
    padding: 10px;
    margin-bottom: 10px;
}

nav ul li {
display: inline-block;
margin-left: 50px;
font-size: 23px;
font-weight: 700;
color: blueviolet;
font-family: Arial, Helvetica, sans-serif;
}
.sun{
    border: 4px solid skyblue;
    padding: 20px;
    margin-bottom: 30px;
}
.rest{
    color: forestgreen;
    font-size: 50px;
}
.sun p{
    font-size: 40px;
    color: crimson;
}
.sun button{
    background-color: gray;
    font-size: 23px;
}


.jam{
    border: 4px solid skyblue;
    padding: 20px;
    margin-bottom: 30px;
}
.able{
    color: blueviolet;
    font-size: 51px;
}
.jam p{
    font-size: 45px;
    color: crimson;
}
.jam button{
    background-color: blue;
    font-size: 23px;
}

.rax{
    border: 4px solid skyblue;
    padding: 20px;
    margin-bottom: 30px;
}
.tim{
    color: goldenrod;
    font-size: 53px;
}
.rax p{
    font-size: 39px;
    color: crimson;
}
.rax button{
    background-color: burlywood;
    font-size: 23px;
}